body {
    background-color: #fff;
    color: #000;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}
/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .navbar-toggle {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #3498db;
        width: 100%;
        align-items: center; /* Centra verticalmente */
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
    }
}